* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

.calculator {
  background: #333;
  padding: 20px;
  border-radius: 15px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#display {
  width: 100%;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  text-align: right;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.btn {
  padding: 18px;
  font-size: 20px;
  background: #666;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.07);
  background: #777;
}

.clear {
  background: #dc3545 !important;
}

.clear:hover {
  background: #b7202c;
}

.process {
  background: #28a745 !important;
}

.process:hover {
  background: #1c6b30;
}

.result-box {
  width: 300px;
  height: 426px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.result-box h3 {
  margin-bottom: 10px;
}

#result-output {
  background: #f7f7f7;
  padding: 15px;
  min-height: 340px;
  border-radius: 10px;
  white-space: pre-wrap;
}
